body{
    font-family: 'Montserrat', regular;
    font-size: 16px;
    line-height: 1.5;
    color: #D9D4CE;
    background-color: #2F373F;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: blcok;
    top:0;
    justify-content: 5%;
    align-items: left;
    color: #2F373F;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}