html, body{
    font-family: "Lexend","Noto Sans HK","Arial",sans-serif;
    line-height: 1.5;
    color: #D9D4CE;
    background-color: #303235;
    margin: 0px;
    padding: 0;
    top: 0;
}

.main{
    position: relative;
    max-width: 2560px;
    margin: 0 auto;
    padding: 50px 0 0 0;
}

a:link, a:visited{
    color: #2F373F;
    text-decoration: none;
}

/* ----- Global Message ----- */
.globalmessage {
    width: 100%;
    height: 75px;
    color: rgb(99, 91, 81);
    background: rgb(233, 222, 200);
    box-shadow: rgb(233, 222, 200) 0px 0px 10px;
    top: 50%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.globalmessage-list{
    box-sizing: content-box;
    width: inherit;
    height: inherit;
    max-width: 1000px;
    top: 0;
    justify-content: center;
    padding: 0 25px;
    margin: 0 auto;
    overflow: clip;
    white-space: nowrap;
}

.globalmessage-content{
    width: inherit;
    height: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 50s linear infinite;
    /* manipulate the speed of the marquee by changing "40s" line above*/
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.globalmessage-text {
    margin-right: 8vw;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-family: "Lexend","Noto Sans HK","Arial",sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
}

/* ----- Main Content ----- */
.showcase-module{
    width: 100%;
    display: -ms-grid;
    display: grid;
}