#gf {
    --gf-focus-color: var(--sk-focus-color, #0071E3);
    --gf-focus-color-alt: var(--sk-focus-color-alt, rgb(0, 0, 0));
    --gf-focus-offset: var(--sk-focus-offset, 1px);
    --gf-focus-offset-container: var(--sk-focus-offset-container, 3px)
}

#gf {
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%
}

#gf,#gf:before,#gf:after,#gf *,#gf *:before,#gf *:after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    float: initial;
    pointer-events: auto;
    letter-spacing: normal
}

#gf *,#gf *:before,#gf *:after {
    float: inherit;
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit
}

#gf div,#gf main,#gf article,#gf aside,#gf details,#gf figcaption,#gf figure,#gf footer,#gf header,#gf nav,#gf section {
    display: block
}

#gf img {
    border: 0;
    vertical-align: middle
}

#gf ul {
    list-style: none
}

#gf,#gf input,#gf textarea,#gf select,#gf button {
    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: start
}

#gf:not([dir=rtl]),#gf:not([dir=rtl]) input,#gf:not([dir=rtl]) textarea,#gf:not([dir=rtl]) select,#gf:not([dir=rtl]) button {
    direction: ltr
}

#gf,#gf select,#gf button {
    font-family: "Lexend","Noto Sans HK","Arial",sans-serif
}

#gf input,#gf textarea {
    font-family: "Lexend","Noto Sans HK","Arial",sans-serif
}

#gf sup {
    font-size: .6em;
    vertical-align: top;
    position: relative;
    bottom: -0.2em
}

h1 #gf sup,h2 #gf sup,h3 #gf sup {
    font-size: .4em
}

#gf sup a {
    vertical-align: inherit;
    color: inherit
}

#gf sup a:hover {
    color: #06c;
    text-decoration: none
}

#gf sub {
    font-size: smaller;
    vertical-align: sub;
    line-height: 1
}

gf-dark #gf {
    --gf-focus-color-alt: var(--sk-focus-color-alt, rgb(255, 255, 255))
}

#gf :focus-visible {
    --sk-focus-color: var(--gf-focus-color);
    --sk-focus-color-alt: var(--gf-focus-color-alt);
    --sk-focus-offset: var(--gf-focus-offset);
    --sk-focus-offset-container: var(--gf-focus-offset-container);
    outline: 2px solid var(--sk-focus-color, #0071E3);
    outline-offset: var(--sk-focus-offset, 1px)
}

#gf a.gf-block {
    --sk-blocklink-color: rgb(0, 102, 204);
    color: inherit;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    text-decoration: none
}

#gf a.gf-block::before,#gf a.gf-block::after {
    content: " ";
    display: table
}

#gf a.gf-block::after {
    clear: both
}

#gf a.gf-block:hover {
    text-decoration: none
}

#gf .gf-block-link {
    cursor: pointer;
    color: var(--sk-blocklink-color)
}

#gf .gf-block-link:hover {
    text-decoration: underline
}

#gf a.gf-block-inline {
    display: inline-block
}

#gf a.gf-block-dark {
    --sk-blocklink-color: rgb(41, 151, 255)
}

#gf .theme-light a.gf-block-dark {
    --sk-blocklink-color: rgb(41, 151, 255)
}

#gf a.gf-block-light {
    --sk-blocklink-color: rgb(0, 102, 204)
}

#gf .theme-dark a.gf-block.gf-block-light {
    --sk-blocklink-color: rgb(0, 102, 204)
}

#gf .gf-icon::before,#gf .gf-icon::after,#gf .gf-more::before,#gf .gf-more::after {
    font-family: "SF Pro Icons","Apple Legacy Chevron";
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: underline;
    position: relative;
    z-index: 1;
    alt: ""
}

#gf .gf-icon::before,#gf .gf-icon::after,#gf .gf-more::before,#gf .gf-more::after {
    text-decoration: none
}

#gf .gf-icon::before,#gf .gf-more::before {
    display: none
}

#gf .gf-icon-after::after,#gf .gf-more::after {
    padding-inline-start:.3em;top: 0
}

#gf .gf-icon-before::before {
    padding-inline-end:.3em;display: inline-block;
    top: 0
}

#gf .gf-icon-before::after {
    display: none
}

#gf .gf-icon-before.gf-icon-apple::before {
    padding-inline-end:0;display: inline-block;
    top: 0
}

#gf .gf-icon-before.gf-icon-apple::after {
    display: none
}

#gf a.gf-icon {
    text-decoration: none
}

#gf a.gf-icon:hover {
    text-decoration: underline
}

#gf:not([dir=rtl]) .gf-more::before,#gf:not([dir=rtl]) .gf-more::after {
    content: ""
}

#gf .gf-more-block {
    margin-top: .5em
}

#gf a.gf-more {
    text-decoration: none
}

#gf a.gf-more:hover {
    text-decoration: underline
}

#gf:not([dir=rtl]) .gf-icon-chevronstart::before,#gf:not([dir=rtl]) .gf-icon-chevronstart::after {
    content: ""
}

#gf:not([dir=rtl]) .gf-icon-chevronstartcircle::before,#gf:not([dir=rtl]) .gf-icon-chevronstartcircle::after {
    content: ""
}

#gf:not([dir=rtl]) .gf-icon-chevronend::before,#gf:not([dir=rtl]) .gf-icon-chevronend::after {
    content: ""
}

#gf:not([dir=rtl]) .gf-icon-chevronendcircle::before,#gf:not([dir=rtl]) .gf-icon-chevronendcircle::after {
    content: ""
}

#gf .gf-icon-wrapper .gf-icon,#gf .gf-icon-wrapper .gf-more:not(.gf-icon-before)::after,#gf .gf-icon-wrapper .gf-icon-before::before,#gf .gf-icon-wrapper .gf-icon-after::after {
    display: inline;
    position: static
}

#gf a.gf-icon-wrapper {
    text-decoration: none
}

#gf a.gf-icon-wrapper:hover .gf-icon-copy {
    text-decoration: underline
}

#gf .gf-buystrip {
    --buystrip-background: rgb(245, 245, 247);
    --buystrip-border-color: rgba(0, 0, 0, 0.16);
    --buystrip-text-color: rgba(0, 0, 0, 0.88);
    --buystrip-link-color: rgb(0, 102, 204);
    --buystrip-icon-color: rgba(0, 0, 0, 0.56);
    --buystrip-content-maxwidth: 980px;
    --buystrip-content-padding: 22px;
    --buystrip-items-padding-top: 0;
    --buystrip-items-padding-bottom: 56px;
    color: var(--buystrip-text-color)
}

.gf-dark #gf .gf-buystrip,#gf.gf-dark .gf-buystrip {
    --buystrip-background: rgb(29, 29, 31);
    --buystrip-border-color: rgba(255, 255, 255, 0.24);
    --buystrip-text-color: rgba(255, 255, 255, 0.92);
    --buystrip-link-color: rgb(41, 151, 255);
    --buystrip-icon-color: rgba(255, 255, 255, 0.56)
}

#gf.gf-buystrip-light .gf-buystrip {
    --buystrip-background: rgb(245, 245, 247);
    --buystrip-border-color: rgba(0, 0, 0, 0.16);
    --buystrip-text-color: rgba(0, 0, 0, 0.88);
    --buystrip-link-color: rgb(0, 102, 204);
    --buystrip-icon-color: rgba(0, 0, 0, 0.56)
}

@media only screen and (max-width: 833px) {
    #gf .gf-buystrip {
        --buystrip-content-padding: 16px
    }
}

@media only screen and (max-width: 480px) {
    #gf .gf-buystrip {
        --buystrip-items-padding-top: 8px
    }
}

#gf .gf-buystrip-background {
    background: var(--buystrip-background)
}

#gf .gf-buystrip-content {
    margin: 0 auto;
    max-width: var(--buystrip-content-maxwidth);
    padding: 0 var(--buystrip-content-padding)
}

#gf:not([dir=rtl]) .gf-buystrip-content {
    padding-inline-start:max(var(--buystrip-content-padding),env(safe-area-inset-left));padding-inline-end: max(var(--buystrip-content-padding),env(safe-area-inset-right))
}

#gf .gf-buystrip-info {
    font-size: 14px;
    line-height: 1.4285914286;
    font-weight: 400;
    letter-spacing: -0.016em;
    font-family: "Lexend","Noto Sans HK","Arial",sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: var(--buystrip-items-padding-top);
    padding-bottom: var(--buystrip-items-padding-bottom);
    text-align: center
}

#gf .gf-buystrip-info-keyline,#gf .gf-buystrip-info {
    border-bottom: 1px solid var(--buystrip-border-color)
}

#gf.gf-buystrip-elevated .gf-buystrip-info {
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: "SF Pro Display","Noto Sans HK","Arial",sans-serif
}

#gf .gf-buystrip-info-column {
    flex: 1 25%;
    max-width: 410px
}

@media only screen and (max-width: 1023px) {
    #gf .gf-buystrip-info-column {
        flex-basis:50%
    }
}

@media only screen and (max-width: 480px) {
    #gf .gf-buystrip-info-column {
        flex-basis:100%
    }
}

@media only screen and (max-width: 1023px) {
    #gf .gf-buystrip-info-column:last-child:nth-child(3) {
        flex-basis:100%
    }
}

#gf .gf-buystrip-info-column:first-child:nth-last-child(2),#gf .gf-buystrip-info-column:last-child:nth-child(2) {
    flex-basis: 50%
}

@media only screen and (max-width: 480px) {
    #gf .gf-buystrip-info-column:first-child:nth-last-child(2),#gf .gf-buystrip-info-column:last-child:nth-child(2) {
        flex-basis:100%
    }
}

#gf .gf-buystrip-info-column .gf-buystrip-info-content {
    margin: 0 auto;
    padding-top: 56px;
    position: relative;
    text-align: center;
    width: 216px;
    z-index: 1
}

@media only screen and (max-width: 734px) {
    #gf .gf-buystrip-info-column .gf-buystrip-info-content {
        padding-top:36px
    }
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon {
    margin: 0 auto;
    height: 56px;
    color: var(--buystrip-icon-color);
    opacity: .56
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon svg {
    width: auto;
    height: 100%
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-appletvplus {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/appletvplus/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-appletvplus,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-appletvplus {
    --buystrip-item-background-image: url(../assets/ac-buystrip/appletvplus/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-appletvplus {
    --buystrip-item-background-image: url(../assets/ac-buystrip/appletvplus/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-asa {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/asa/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-asa,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-asa {
    --buystrip-item-background-image: url(../assets/ac-buystrip/asa/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-asa {
    --buystrip-item-background-image: url(../assets/ac-buystrip/asa/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-bag {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/bag/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-bag,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-bag {
    --buystrip-item-background-image: url(../assets/ac-buystrip/bag/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-bag {
    --buystrip-item-background-image: url(../assets/ac-buystrip/bag/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-call {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/call/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-call,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-call {
    --buystrip-item-background-image: url(../assets/ac-buystrip/call/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-call {
    --buystrip-item-background-image: url(../assets/ac-buystrip/call/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-engraving {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/engraving/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-engraving,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-engraving {
    --buystrip-item-background-image: url(../assets/ac-buystrip/engraving/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-engraving {
    --buystrip-item-background-image: url(../assets/ac-buystrip/engraving/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-financing {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/financing/hkd/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-financing,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-financing {
    --buystrip-item-background-image: url(../assets/ac-buystrip/financing/hkd/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-financing {
    --buystrip-item-background-image: url(../assets/ac-buystrip/financing/hkd/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-giftwrap {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/giftwrap/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-giftwrap,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-giftwrap {
    --buystrip-item-background-image: url(../assets/ac-buystrip/giftwrap/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-giftwrap {
    --buystrip-item-background-image: url(../assets/ac-buystrip/giftwrap/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-help {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/help/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-help,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-help {
    --buystrip-item-background-image: url(../assets/ac-buystrip/help/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-help {
    --buystrip-item-background-image: url(../assets/ac-buystrip/help/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-homekit {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/homekit/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-homekit,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-homekit {
    --buystrip-item-background-image: url(../assets/ac-buystrip/homekit/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-homekit {
    --buystrip-item-background-image: url(../assets/ac-buystrip/homekit/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-learning {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/learning/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-learning,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-learning {
    --buystrip-item-background-image: url(../assets/ac-buystrip/learning/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-learning {
    --buystrip-item-background-image: url(../assets/ac-buystrip/learning/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-personal_setup {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/personal_setup/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-personal_setup,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-personal_setup {
    --buystrip-item-background-image: url(../assets/ac-buystrip/personal_setup/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-personal_setup {
    --buystrip-item-background-image: url(../assets/ac-buystrip/personal_setup/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-retail {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/retail/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-retail,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-retail {
    --buystrip-item-background-image: url(../assets/ac-buystrip/retail/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-retail {
    --buystrip-item-background-image: url(../assets/ac-buystrip/retail/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-shipping {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/shipping/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-shipping,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-shipping {
    --buystrip-item-background-image: url(../assets/ac-buystrip/shipping/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-shipping {
    --buystrip-item-background-image: url(../assets/ac-buystrip/shipping/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-icon-thirdparty_retail {
    background-image: var(--buystrip-item-background-image);
    background-size: 100% 56px;
    background-size: 100% 56px;
    --buystrip-item-background-image: url(../assets/ac-buystrip/thirdparty_retail/icon_large.svg)
}

.gf-dark #gf .gf-buystrip-info-column .gf-buystrip-info-icon-thirdparty_retail,#gf.gf-dark .gf-buystrip-info-column .gf-buystrip-info-icon-thirdparty_retail {
    --buystrip-item-background-image: url(../assets/ac-buystrip/thirdparty_retail/icon_dark_large.svg)
}

#gf.gf-buystrip-light .gf-buystrip-info-column .gf-buystrip-info-icon-thirdparty_retail {
    --buystrip-item-background-image: url(../assets/ac-buystrip/thirdparty_retail/icon_large.svg)
}

#gf .gf-buystrip-info-column .gf-buystrip-info-title,#gf .gf-buystrip-info-column .gf-buystrip-info-copy,#gf .gf-buystrip-info-column .gf-buystrip-info-caption,#gf .gf-buystrip-info-column .gf-buystrip-info-cta {
    margin: 0
}

#gf .gf-buystrip-info-column .gf-buystrip-info-title {
    font-size: 19px;
    line-height: 1.2105263158;
    font-weight: 600;
    letter-spacing: .012em;
    font-family: "SF Pro Display","Noto Sans HK","Arial",sans-serif;
    color: var(--buystrip-text-color);
    margin-top: .525em
}

#gf .gf-buystrip-info-column .gf-buystrip-info-copy {
    color: var(--buystrip-text-color);
    display: block;
    margin-top: .4em
}

#gf .gf-buystrip-info-column .gf-buystrip-info-copy+.gf-buystrip-info-column-copy {
    margin-top: .8em
}

#gf .gf-buystrip-info-column .gf-buystrip-info-caption {
    display: block
}

#gf .gf-buystrip-info-column .gf-buystrip-info-cta {
    color: var(--buystrip-link-color);
    margin-top: .8em;
    display: block
}

#gf.no-js .gf-buystrip-info-column .gf-buystrip-info-cta-chat {
    display: none
}

@media only screen and (max-width: 480px) {
    #gf .gf-buystrip-info-column .gf-buystrip-info-column:first-child .gf-buystrip-info-column-content {
        padding-top:36px
    }
}

#gf.gf-buystrip-elevated .gf-buystrip-info-column:first-child:nth-last-child(4),#gf.gf-buystrip-elevated .gf-buystrip-info-column:first-child:nth-last-child(4)~.gf-buystrip-info-column {
    flex-basis: 50%
}

@media only screen and (max-width: 480px) {
    #gf.gf-buystrip-elevated .gf-buystrip-info-column:first-child:nth-last-child(4),#gf.gf-buystrip-elevated .gf-buystrip-info-column:first-child:nth-last-child(4)~.gf-buystrip-info-column {
        flex-basis:100%
    }
}

#gf.gf-buystrip-elevated .gf-buystrip-info-column .gf-buystrip-info-content {
    width: 294px;
    padding-left: 8px;
    padding-right: 8px
}

@media only screen and (max-width: 480px) {
    #gf.gf-buystrip-elevated .gf-buystrip-info-column .gf-buystrip-info-content {
        width:240px;
        padding-left: 0;
        padding-right: 0
    }
}

#gf.gf-buystrip-elevated .gf-buystrip-info-column .gf-buystrip-info-title {
    font-size: 21px;
    line-height: 1.1904761905;
    font-weight: 600;
    letter-spacing: .011em;
    font-family: "Lexend","Noto Sans HK","Arial",sans-serif;
    margin-top: .53em
}

#gf {
    --footer-background: rgb(245, 245, 247);
    --footer-border-color: rgba(0, 0, 0, 0.16);
    --footer-text-color: rgba(0, 0, 0, 0.56);
    --footer-link-color: rgba(0, 0, 0, 0.72);
    --footer-pipe-color: rgba(0, 0, 0, 0.48);
    --footer-d-t-color: rgba(0, 0, 0, 0.88);
    --footer-d-t-color-hover: #000;
    --footer-d-t-focus-offset: 4px;
    --footer-s-border-color: var(--footer-border-color);
    --footer-pipe-border: 1px solid var(--footer-pipe-color);
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "Lexend","Noto Sans HK","Arial",sans-serif;
    background: var(--footer-background);
    color: var(--footer-text-color);
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1
}

.gf-dark #gf,#gf.gf-dark {
    --footer-background: rgb(29, 29, 31);
    --footer-border-color: rgba(255, 255, 255, 0.24);
    --footer-text-color: rgba(255, 255, 255, 0.56);
    --footer-link-color: rgba(255, 255, 255, 0.8);
    --footer-pipe-color: rgba(255, 255, 255, 0.4);
    --footer-d-t-color: rgba(255, 255, 255, 0.92);
    --footer-d-t-color-hover: #fff
}

#gf.theme-light,#gf.gf-light {
    --footer-background: rgb(245, 245, 247);
    --footer-border-color: rgba(0, 0, 0, 0.16);
    --footer-text-color: rgba(0, 0, 0, 0.56);
    --footer-link-color: rgba(0, 0, 0, 0.72);
    --footer-pipe-color: rgba(0, 0, 0, 0.48);
    --footer-d-t-color: rgba(0, 0, 0, 0.88);
    --footer-d-t-color-hover: #000
}

@media only screen and (max-width: 1044px) {
    #gf {
        min-width:320px
    }
}

#gf h1,#gf h2,#gf h3,#gf h4,#gf h5,#gf h6 {
    color: var(--footer-d-t-color)
}

#gf h1>button,#gf h2>button,#gf h3>button,#gf h4>button,#gf h5>button,#gf h6>button {
    color: var(--footer-d-t-color)
}

#gf a {
    color: var(--footer-link-color);
    text-decoration: none
}

#gf a:hover {
    text-decoration: underline
}

#gf a.gf-block {
    color: inherit;
    text-decoration: none
}

#gf a.gf-block:hover {
    color: inherit
}

.gf-dark #gf a.gf-block,#gf.gf-dark a.gf-block {
    color: inherit
}

.gf-dark #gf a.gf-block .gf-block-link,#gf.gf-dark a.gf-block .gf-block-link {
    color: #2997ff
}

#gf .gf-content {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 25px
}

#gf:not([dir=rtl]) .gf-content {
    padding-inline-start:max(25px, env(safe-area-inset-left));padding-inline-end:max(22px, env(safe-area-inset-right))}

@media only screen and (max-width: 833px) {
    #gf:not([dir=rtl]) .gf-content {
        padding-inline-start:max(16px, env(safe-area-inset-left));
        padding-inline-end:max(16px, env(safe-area-inset-right))}
}

@media(prefers-contrast: more) {
    #gf .gf-content a:link {
        text-decoration: underline
    }

    #gf .gf-content a:link:hover {
        text-decoration: underline
    }
}

#gf .gf-label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0 0 99.9% 99.9%);
    clip-path: inset(0 0 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0
}

#gf .gf-sosumi {
    border-bottom: 1px solid var(--footer-s-border-color);
    padding: 17px 0 11px
}

#gf .gf-sosumi a {
    text-decoration: underline
}

#gf .gf-sosumi ol {
    list-style-position: outside;
    margin: 0;
    padding: 0 17px
}

#gf .gf-sosumi ol li {
    list-style-type: decimal
}

#gf .gf-sosumi ul {
    list-style: none;
    margin: 0
}

#gf .gf-sosumi li {
    padding-bottom: .8em
}

#gf .gf-sosumi p,#gf .gf-sosumi li {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "Lexend","Noto Sans HK","Arial",sans-serif
}

#gf .gf-sosumi small {
    font-size: 1em
}

#gf .gf-breadcrumbs {
    padding: 17px 0;
    position: relative;
    z-index: 1;
    color: var(--footer-link-color)
}

#gf .gf-breadcrumbs::before,#gf .gf-breadcrumbs::after {
    content: " ";
    display: table
}

#gf .gf-breadcrumbs::after {
    clear: both
}

@media only screen and (max-width: 833px) {
    #gf .gf-breadcrumbs {
        border-bottom:1px solid var(--footer-s-border-color)
    }
}

#gf .gf-breadcrumbs-home {
    position: absolute;
    inset-inline-start: 0;
    z-index: 2;
    top: 17px
}

#gf .gf-breadcrumbs-home-icon {
    width: 14px;
    height: 18px;
    display: block;
    position: relative;
    z-index: 2;
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,.72);
    -webkit-mask-image: url(../assets/ac-footer/breadcrumbs/apple/icon_large.svg);
    mask-image: url(../assets/ac-footer/breadcrumbs/apple/icon_large.svg)
}

.gf-dark #gf .gf-breadcrumbs-home-icon,#gf.gf-dark .gf-breadcrumbs-home-icon {
    background-color: rgba(255,255,255,.8)
}

#gf.theme-light .gf-breadcrumbs-home-icon,#gf.gf-light .gf-breadcrumbs-home-icon {
    background-color: rgba(0,0,0,.72)
}

#gf .gf-breadcrumbs-home:hover {
    text-decoration: none
}

#gf .gf-breadcrumbs-home:hover .gf-breadcrumbs-home-icon {
    background-color: rgba(0,0,0,.88)
}

.gf-dark #gf .gf-breadcrumbs-home:hover .gf-breadcrumbs-home-icon,#gf.gf-dark .gf-breadcrumbs-home:hover .gf-breadcrumbs-home-icon {
    background-color: rgba(255,255,255,.92)
}

#gf.theme-light .gf-breadcrumbs-home:hover .gf-breadcrumbs-home-icon,#gf.gf-light .gf-breadcrumbs-home:hover .gf-breadcrumbs-home-icon {
    background-color: rgba(0,0,0,.88)
}

#gf .gf-breadcrumbs-home-label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0 0 99.9% 99.9%);
    clip-path: inset(0 0 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0
}

#gf .gf-breadcrumbs-path {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "Lexend","Noto Sans HK","Arial",sans-serif;
    position: relative;
    z-index: 1
}

#gf .gf-breadcrumbs-path::before,#gf .gf-breadcrumbs-path::after {
    content: " ";
    display: table
}

#gf .gf-breadcrumbs-path::after {
    clear: both
}

#gf .gf-breadcrumbs-list {
    max-height: 9999px;
    padding-inline-start:25px;text-align: start;
    list-style: none
}

#gf .gf-breadcrumbs-item {
    margin-inline-end:7px;padding: 3px 4px 3px 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#gf:not([dir=rtl]) .gf-breadcrumbs-item {
    float: left
}

#gf .gf-breadcrumbs-item:before {
    width: 6px;
    height: 11px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    width: 6px;
    height: 11px;
    margin-inline-end:11px;background-color: rgba(0,0,0,.48);
    -webkit-mask-image: url(../assets/ac-footer/breadcrumbs/separator/icon_large.svg);
    mask-image: url(../assets/ac-footer/breadcrumbs/separator/icon_large.svg)
}

.gf-dark #gf .gf-breadcrumbs-item:before,#gf.gf-dark .gf-breadcrumbs-item:before {
    background-color: rgba(255,255,255,.4)
}

#gf.theme-light .gf-breadcrumbs-item:before,#gf.gf-light .gf-breadcrumbs-item:before {
    background-color: rgba(0,0,0,.48)
}

#gf .gf-directory {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "Lexend","Noto Sans HK","Arial",sans-serif;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px
}

#gf .gf-directory:last-child {
    padding-bottom: 28px
}

@media only screen and (max-width: 833px) {
    #gf .gf-directory {
        flex-direction:column
    }
}

#gf .gf-d-column {
    flex-basis: 25%
}

@media only screen and (max-width: 833px) {
    #gf .gf-d-column {
        flex-basis:auto
    }
}

#gf .gf-d-c-section {
    pointer-events: none
}

@media only screen and (max-width: 833px) {
    #gf .gf-d-c-section {
        position:relative;
        z-index: 1;
        overflow: hidden;
        pointer-events: auto;
        margin-inline-start:calc(var(--footer-d-t-focus-offset)*-1);width: calc(100% + var(--footer-d-t-focus-offset)*2);
        padding: 0 var(--footer-d-t-focus-offset) 1px;
        box-sizing: border-box
    }

    #gf .gf-d-c-section::after {
        content: "";
        position: absolute;
        right: var(--footer-d-t-focus-offset);
        left: var(--footer-d-t-focus-offset);
        bottom: 0;
        height: 1px;
        background-color: var(--footer-s-border-color);
        z-index: 3
    }
}

#gf .gf-d-c-section~.gf-d-c-section {
    padding-top: 24px
}

@media only screen and (max-width: 833px) {
    #gf .gf-d-c-section~.gf-d-c-section {
        padding-top:0
    }
}

#gf .gf-d-c-s-t-button,#gf .gf-d-c-s-title>.gf-d-c-s-t-text {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "Lexend","Noto Sans HK","Arial",sans-serif;
    font-weight: 600;
    margin-bottom: .8em;
    margin-inline-end:20px;outline: none
}

#gf .gf-d-c-s-t-button {
    border: none;
    display: none;
    text-align: start
}

@media only screen and (max-width: 833px) {
    #gf .gf-d-c-s-t-button {
        font-weight:400;
        display: block;
        margin: 0;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        color: var(--footer-d-t-color);
        background: var(--footer-background);
        cursor: pointer;
        position: relative;
        -webkit-user-select: none;
        user-select: none;
        z-index: 2
    }

    #gf .gf-d-c-s-t-button:hover {
        color: var(--footer-d-t-color-hover)
    }

    #gf .gf-d-c-s-t-button::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -4px;
        bottom: 0;
        left: -4px
    }

    #gf .gf-d-c-s-t-button:focus-visible::after {
        --sk-focus-offset: calc(var(--footer-d-t-focus-offset) - 6px);
        outline: 2px solid var(--sk-focus-color, #0071E3);
        outline-offset: var(--sk-focus-offset, 1px)
    }
}

#gf .gf-d-c-s-t-icon {
    display: none
}

@media only screen and (max-width: 833px) {
    #gf .gf-d-c-s-t-icon {
        width:11px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: normal;
        color: var(--footer-d-t-color);
        transition: transform .3s ease
    }

    #gf:not([dir=rtl]) .gf-d-c-s-t-icon {
        float: right
    }
}

#gf .gf-d-c-s-title>.gf-d-c-s-t-text {
    display: block
}

@media only screen and (max-width: 833px) {
    #gf .gf-d-c-s-title>.gf-d-c-s-t-text {
        display:none
    }
}

#gf .gf-d-c-s-list {
    margin-inline-end:20px;list-style: none;
    padding: 0
}

@media only screen and (max-width: 833px) {
    #gf .gf-d-c-s-list {
        margin:0;
        overflow: hidden;
        padding-top: 5px;
        padding-bottom: 16px;
        position: absolute;
        top: 100%;
        inset-inline-start: 0;
        width: 100%;
        visibility: hidden;
        z-index: -1;
        transform: translateY(-100px);
        will-change: transform
    }

    #gf.no-js .gf-d-c-s-list {
        position: static;
        visibility: visible;
        transform: none
    }
}

#gf .gf-d-c-s-item {
    display: block;
    pointer-events: auto;
    margin-bottom: .8em
}

@media only screen and (max-width: 833px) {
    #gf .gf-d-c-s-item {
        margin-bottom:0
    }
}

#gf .gf-d-c-s-item:last-child {
    margin-bottom: 0
}

@media only screen and (max-width: 833px) {
    #gf .gf-d-c-s-link {
        padding:6px 14px;
        display: block
    }

    #gf .gf-d-c-s-link:focus-visible {
        outline-offset: -6px
    }
}

@media only screen and (max-width: 833px) {
    #gf .gf-d-c-section.gf-d-c-expanded .gf-d-c-s-title {
        color:var(--footer-d-t-color-hover)
    }

    #gf .gf-d-c-section.gf-d-c-expanded .gf-d-c-s-list {
        position: static;
        visibility: visible;
        z-index: 1;
        transform: none;
        transition: transform 300ms ease
    }
}

#gf .gf-breadcrumbs+.gf-directory {
    padding-top: 0
}

@media only screen and (max-width: 833px) {
    #gf .gf-breadcrumbs+.gf-directory {
        padding-top:0
    }
}

#gf .gf-footer {
    border-top: 1px solid var(--footer-s-border-color);
    padding: 17px 0 11px;
    padding-bottom: calc(11px + constant(safe-area-inset-bottom))
}

@supports(padding: calc(max(0px))) {
    #gf .gf-footer {
        padding-bottom:max(11px, env(safe-area-inset-bottom))
    }
}

#gf .gf-footer:nth-child(2) {
    border-top: none
}

@media only screen and (max-width: 833px) {
    #gf .gf-footer {
        padding-bottom:9px;
        padding-bottom: calc(9px + constant(safe-area-inset-bottom))
    }

    @supports(padding: calc(max(0px))) {
        #gf .gf-footer {
            padding-bottom:max(9px,env(safe-area-inset-bottom))
        }
    }
}

#gf .gf-footer-info {
    --footer-mini-shop-link-color: rgb(0, 102, 204);
    max-height: 9999px;
    padding-bottom: 3px
}

.gf-dark #gf .gf-footer-info,#gf.gf-dark .gf-footer-info {
    --footer-mini-shop-link-color: rgb(41, 151, 255)
}

#gf.theme-light .gf-footer-info,#gf.gf-light .gf-footer-info {
    --footer-mini-shop-link-color: rgb(0, 102, 204)
}

@media only screen and (max-width: 833px) {
    #gf .gf-footer-info {
        padding-bottom:10px
    }
}

#gf .gf-footer-info a,#gf .gf-footer-info a:hover {
    color: var(--footer-mini-shop-link-color);
    text-decoration: underline
}

#gf .gf-footer-locale {
    margin-top: 5px;
    position: relative;
    top: -3px;
    z-index: 2;
    white-space: nowrap
}

#gf:not([dir=rtl]) .gf-footer-locale {
    float: right
}

@media only screen and (max-width: 833px) {
    #gf:not([dir=rtl]) .gf-footer-locale {
        float:none
    }
}

@media only screen and (max-width: 833px) {
    #gf .gf-footer-locale {
        padding-top:4px
    }
}

#gf .gf-footer-locale-link {
    position: relative;
    margin-inline-start:5px;padding-inline-start:9px;display: inline-block
}

#gf .gf-footer-locale-link:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 1px;
    background-color: var(--footer-pipe-color);
    margin-top: 3px;
    margin-bottom: 3px;
    margin-inline-start:-9px;margin-inline-end:0px}

#gf .gf-footer-locale-link:after {
    content: "";
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 9px
}

#gf .gf-footer-locale-link:first-child {
    margin-inline-start:0;padding-inline-start:0}

#gf .gf-footer-locale-link:first-child:before {
    display: none
}

#gf .gf-footer-locale-link:first-child:after {
    inset-inline-start: 0
}

#gf .gf-footer-locale-link:focus-visible {
    outline: none
}

#gf .gf-footer-locale-link:focus-visible:after {
    outline: 2px solid var(--sk-focus-color, #0071E3);
    outline-offset: var(--sk-focus-offset, 1px)
}

#gf .gf-footer-legal {
    position: relative;
    top: -3px;
    z-index: 1
}

#gf .gf-footer-legal::before,#gf .gf-footer-legal::after {
    content: " ";
    display: table
}

#gf .gf-footer-legal::after {
    clear: both
}

@media only screen and (max-width: 833px) {
    #gf .gf-footer-legal {
        padding-top:12px
    }
}

#gf .gf-footer-legal-copyright,#gf .gf-footer-legal-links {
    margin-inline-end:30px;margin-top: 5px;
    list-style-type: none
}

#gf:not([dir=rtl]) .gf-footer-legal-copyright,#gf:not([dir=rtl]) .gf-footer-legal-links {
    float: left
}

@media only screen and (max-width: 1023px) {
    #gf:not([dir=rtl]) .gf-footer-legal-copyright,#gf:not([dir=rtl]) .gf-footer-legal-links {
        float:none
    }
}

@media only screen and (max-width: 1023px) {
    #gf .gf-footer-legal-copyright,#gf .gf-footer-legal-links {
        margin-inline-end:0
    }
}

#gf .gf-footer-legal-copyright {
    max-height: 9999px
}

#gf .gf-footer-legal-links {
    position: relative;
    top: -5px;
    margin-inline-start:0;z-index: 1
}

#gf .gf-footer-legal-links-item {
    position: relative;
    margin-inline-end:6px;display: inline-block;
    margin-top: 5px
}

#gf .gf-footer-legal-links-item:before {
    content: "";
    position: absolute;
    top: 0;
    inset-inline-end: 9px;
    bottom: 0;
    inset-inline-start: 0;
    pointer-events: none
}

#gf .gf-footer-legal-links-item:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 1px;
    background-color: var(--footer-pipe-color);
    margin: 3px 0
}

#gf .gf-footer-legal-links-item:last-child:after {
    display: none
}

#gf .gf-footer-legal-links-item:focus-within:before {
    outline: 2px solid var(--sk-focus-color, #0071E3);
    outline-offset: var(--sk-focus-offset, 1px)
}

@media only screen and (max-width: 1023px) {
    #gf .gf-footer-legal-links-item {
        margin-top:4px
    }
}

@media only screen and (max-width: 833px) {
    #gf .gf-footer-legal-links-item {
        margin-top:5px
    }
}

#gf .gf-footer-legal-link {
    padding-inline-end:9px;display: inline-block;
    white-space: nowrap
}

#gf .gf-footer-legal-link:focus-visible {
    outline: none
}

#gf .gf-sosumi+.gf-footer {
    border-top: none
}

@media only screen and (max-width: 833px) {
    #gf .gf-breadcrumbs+.gf-footer {
        border-top:none
    }
}

#gf .gf-directory+.gf-footer {
    padding-top: 37px;
    border-top: none
}

@media only screen and (max-width: 833px) {
    #gf .gf-directory+.gf-footer {
        padding-top:17px
    }
}

#gf .gf-directory+.gf-footer .gf-footer-info {
    margin-bottom: 16px;
    padding-bottom: 19px;
    border-bottom: 1px solid var(--footer-s-border-color)
}

@media only screen and (min-width: 834px)and (max-width: 1023px) {
    #gf .gf-directory+.gf-footer .gf-footer-info {
        margin-bottom:17px;
        padding-bottom: 18px
    }
}

@media only screen and (max-width: 833px) {
    #gf .gf-directory+.gf-footer .gf-footer-info {
        margin-bottom:8px;
        padding-bottom: 8px;
        border-bottom: none
    }
}

#gf b,#gf strong {
    font-weight: 600
}

#gf .nowrap {
    white-space: nowrap
}

#gf .gf-icon::before,#gf .gf-icon::after,#gf .gf-more::before,#gf .gf-more::after {
    line-height: inherit
}

#gf .gf-breadcrumbs-item::before {
    margin-top: .175em
}

#gf .gf-buystrip {
    text-align: center
}

#gf .gf-footer-locale-link,#gf .gf-footer-legal-links-item {
    float: none
}
