@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #D9D4CE;
    background-color: #303235;
    margin: 0;
    padding: 0;
}

header{
    /* Postioning */
    position: fixed;
    top:0px;

    /* Styling */
    left: 0;
    right: 0;
    width: 100%;
    min-width: 320px;
    height: 50px;
    max-height: 50px;
    display: blcok;
    justify-content: 5%;
    align-items: left;
    color: #2F373F;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin: 0;
    font-size: 17.5px;
}

.container{
    /* Positioning */
    position: static;
    top: 50px;

    /* Styling */
    height: inherit;
    padding: 0 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.announcement{
    /* Positioning */
    position: absolute;
    top: 25%;

    /* Styling */
    width: 75%;
    height: 50%;
    min-height: 500px;
    background: rgb(245, 245, 247);
    color: rgba(0, 0, 0, 0.88);
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    font-size: 25px;
    margin: auto;
    padding: 50px;
    z-index: 9999;
}